/* color: rgb(224, 203, 171);
background-color: rgb(137, 115, 88)
color: rgb(68, 66, 64);
border: 3px solid rgb(224, 203, 171);
color: rgb(235, 17, 17); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Oleo Script", system-ui;
font-family: "Dancing Script", cursive;
font-family: "Poppins", sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.demo {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

:root {
    --navbarContainer-height: 80px;
    
} 

.container{
    background-color: rgb(137, 115, 88);
    height: var(--navbarContainer-height);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container .navbar .nav-logo{
    width: 100px;
}
.container .navbar .nav-logo img{
    width: 80px;
    
}

.container .navbar .nav-logo{
    position: relative;
}
.container .navbar .nav-logo h2{
    font-family: "Oleo Script", system-ui;
    color:  rgb(224, 203, 171);
    position: absolute;
    bottom: 5px;
    text-shadow: 3px 4px 5px rgba(68, 66, 64,0.9);
}

.container .navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    max-width: 90%;
    align-items: center;
    
    
}

.nav-menu{
    display: flex;
}

.nav-menu ul{
    display: flex;
    gap: 50px;
}
.nav-menu ul a{
    color: rgb(224, 203, 171);
    font-family: "Dancing Script", cursive;
    font-size: x-large;
    text-decoration: none;
    text-shadow: 3px 4px 5px rgba(68, 66, 64,0.9);
    
    
}


.navbar .nav-link i{
    width: 50px;
    height: 50px;
    box-shadow: 3px 4px 5px rgba(68, 66, 64,0.9);
    background-color: rgb(245, 241, 236);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    
    
}

.nav-link{
    height: 80px;
    position: relative;
}
.nav-link i{
    z-index: 1;
    
}

.nav-link img{
    height: 150px;
    position: absolute;
    top: 50px;
    
    
}

.nav-link i{
    top: 10px;
    left: 40px;
    z-index: 2;
}

.nav-link img {
    position: absolute;
    
}
.section-1{
    background-image:linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url('https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3{
    background-image:linear-gradient(61deg, rgba(0, 0, 0, 0.481) 0%, rgba(1, 1, 1, 0.6699929971988796) 100%), url('https://images.unsplash.com/photo-1533779283484-8ad4940aa3a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-content {
    width: 50%;
    text-align: center;
}
.section-1 .Main-content h1{
    text-transform: capitalize;
    font-family: "Oleo Script", system-ui;
    color: rgb(224, 203, 171);
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}
.Main-content h1{
    text-transform: uppercase;
    font-family: "Oleo Script", system-ui;
    color: rgb(224, 203, 171);
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}
.Main-content p{
    color: rgb(224, 203, 171);
    font-family: "Oleo Script", system-ui;
}
.Main-content #capitalize{
    text-transform: capitalize;
}
.Main-content .uppercase{
    text-transform: uppercase;
}
.section2-head2{
    align-items: center;
    
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    padding: 40px 80px;
}

.product{
    width: calc((100% - 90px)/4 );
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid rgb(224, 203, 171);
    position: relative;
}

.product .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(224, 203, 171);
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.product .icon:hover{
    box-shadow: 0px 3px 24px 0px rgba(235, 17, 17,0.75);
    -webkit-box-shadow: 0px 3px 24px 0px rgba(235, 17, 17,0.75);
    -moz-box-shadow: 0px 3px 24px 0px rgba(235, 17, 17,0.75);
}
.icon i{
    color: rgb(68, 66, 64);
    position: absolute;
    top: 7.5px;
    right: 7.5px;
}
.icon i:hover{
    color: rgb(235, 17, 17);
}

.product img{
    width: 100%;
    
}

.price{
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.section-2 .price p{
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: black;
}

.section-2 p{
    text-align: center;
    color: rgb(68, 66, 64);
    font-family: "Poppins", sans-serif;
    padding: 10px 0px;
    
    
}

.section-2 h1{
    text-transform: capitalize;
    font-family: "Oleo Script", system-ui;
    color: rgb(68, 66, 64);
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}
.product h2{
    color: rgb(68, 66, 64);
    text-align: center;
    padding: 10px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.product a{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 68px;
    height: 38px;
    background-color: rgb(68, 66, 64);
    border-radius: 8px;
    border-style: none;
    color: rgb(224, 203, 171);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.product a:hover{
    background-color: rgb(224, 203, 171);
    color: black;
}


.product button a:hover{
    color: rgb(68, 66, 64);
}

.container-3{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container-3 .text{
    text-align: justify;
    justify-content: center;
    width: 50%;
    
}
.container-3 .text h1{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    
}

.container-3 .text p{
    font-size: 20px;
    padding-left: 20px;
    
}

.container-3 .photo{
    width: 50%;
    /* flex-basis: 40%; */
    position: relative;
}


.container-3 .photo img{
    max-width: 100%;
    
}

.icon-image img {
    position: relative;
    z-index: 0;
}


.icon-image i {
    background-color: rgb(220, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 65px;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

#left {
    top: calc((100% - 22px) / 2);
    left: 0;
}
#right {
    top: calc((100% - 22px) / 2);
    right: 0;
}
